<a href="https://colab.research.google.com/github/tacticshero/Deliverable_6_Data_Structures/blob/main/Deliverable_(6)_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
def odds(n):
  odds_list = []
  for nth in range(0,n):
    odd = nth*2+1
    odds_list.append(odd)
  return odds_list

In [ ]:
def evens(n):
  evens_list = []
  for nth in range(0,n):
    even = nth*2
    evens_list.append(even)
  return evens_list

In [ ]:
def fib(n):
  fib=[0,1]
  if (n == 1):
    fib.pop()
  for nth in range(0,n-2):
    val = fib[-1] + fib[-2]
    fib.append(val)
  return fib

In [ ]:
try:
  length = int(input("enter an integer value greater than 0: "))
except ValueError:
  print("ERROR: Could not convert data to an integer.")
if (length <= 0):
  print("ERROR: integer must be greater than 0")
else:
  odds_list = odds(length)
  evens_list = evens(length)
  fib_list = fib(length)

  df = pd.DataFrame({'Even': evens_list, 'Odd': odds_list, 'Fibonacci': fib_list})

df

enter an integer value greater than 0: 20

    Even  Odd  Fibonacci
0      0    1          0
1      2    3          1
2      4    5          1
3      6    7          2
4      8    9          3
5     10   11          5
6     12   13          8
7     14   15         13
8     16   17         21
9     18   19         34
10    20   21         55
11    22   23         89
12    24   25        144
13    26   27        233
14    28   29        377
15    30   31        610
16    32   33        987
17    34   35       1597
18    36   37       2584
19    38   39       4181